.cv {
  grid-area: cv;
  width: 90rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  background-color: var(--color-slate-50);
  box-shadow: 0 0 0.8rem 0 var(--color-slate-900-alpha-20);
  padding: 6rem 8rem;
  font-size: 1.5rem;
  justify-self: start;
}

.cv.color-red {
  background-color: var(--color-red-200);
}

.cv.color-green {
  background-color: var(--color-green-200);
}

.cv.color-blue {
  background-color: var(--color-blue-200);
}

.cv.color-purple {
  background-color: var(--color-purple-200);
}

.cv .full-name,
.cv .job-title,
.cv .email,
.cv .mobile-number,
.cv .address,
.cv .about-me,
.cv .achievements,
.cv .skills > li,
.cv .company-name,
.cv .company-working-years,
.cv .last-job-achievements > li {
  overflow-wrap: anywhere;
}

.cv .contact-info {
  display: grid;
  grid-template-columns: auto repeat(2, 1fr);
  grid-template-rows: repeat(3, auto) 1fr;
  grid-template-areas:
    "img full-name email"
    "img job-title mobile-number"
    "img hr hr"
    "img address address";
  column-gap: 4rem;
  row-gap: 0.8rem;
}

.cv .user-img {
  grid-area: img;
  height: 12rem;
  width: 12rem;
  border-radius: 1rem;
}

.cv .choose-img {
  display: none;
}

.cv .full-name {
  grid-area: full-name;
  font-size: 2.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  line-height: 1;
}

.cv .job-title {
  grid-area: job-title;
  font-weight: 500;
}

.cv .email {
  grid-area: email;
  justify-self: end;
  font-size: 1.4rem;
  font-weight: 500;
}

.cv .mobile-number {
  grid-area: mobile-number;
  justify-self: end;
  font-size: 1.4rem;
  font-weight: 500;
}

.cv hr {
  grid-area: hr;
  border: none;
  height: 0.3rem;
  border-radius: 4rem;
  background-color: currentColor;
}

.cv .address {
  grid-area: address;
  font-weight: 500;
  font-size: 1.3rem;
}

.cv .about-me {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 3rem;
}

.cv .title {
  font-size: 1.3rem;
  font-weight: bolder;
}

.cv .skills {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5rem;
  row-gap: 2rem;
  list-style: none;
  margin-left: 2.5rem;
  margin-top: 2rem;
}

.cv .skills > li {
  flex: 0 1 auto;
  width: 28%;
  position: relative;
}

.cv .skills > li::before {
  content: url(../assets/icons/minus-thick.svg);
  position: absolute;
  left: -15%;
  z-index: 10;
}

.cv .employment-history > .company {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "company-name achievements"
    "working-years achievements";
  column-gap: 5rem;
  row-gap: 1.6rem;
  margin-top: 4rem;
}

.cv .company-name {
  grid-area: company-name;
  width: 30rem;
  font-size: 1.8rem;
  font-weight: bolder;
}

.cv .company-working-years {
  grid-area: working-years;
}

.cv .last-job-achievements {
  grid-area: achievements;
  margin-left: 2rem;
}
