.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "save-btn save-btn"
    "color-btns color-btns"
    "inputs cv";
  justify-items: center;
  align-items: start;
  row-gap: 2rem;
  column-gap: 3rem;
}
