.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.save-pdf-button {
  border: none;
  background-color: var(--color-slate-500);
  color: var(--color-slate-50);
  padding: 1.5rem 2rem;
  border-radius: 0.6rem;
  font-weight: 500;
  cursor: pointer;
}

.save-pdf-button:hover {
  background-color: var(--color-slate-400);
}

.save-pdf-button:active {
  background-color: var(--color-slate-500);
}

.color-buttons {
  display: flex;
  column-gap: 1rem;
  background-color: var(--color-slate-900-alpha-10);
  padding: 1.5rem;
  border-radius: 2rem;
}

.color-button {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;
  border: 0.4rem solid var(--color-slate-900-alpha-20);
  cursor: pointer;
}

.color-button-1 {
  background-color: var(--color-slate-50);
}

.color-button-2 {
  background-color: var(--color-red-200);
}

.color-button-3 {
  background-color: var(--color-green-200);
}
.color-button-4 {
  background-color: var(--color-blue-200);
}
.color-button-5 {
  background-color: var(--color-purple-200);
}

.color-button-1:hover,
.color-button-2:hover,
.color-button-3:hover,
.color-button-4:hover,
.color-button-5:hover {
  border: none;
}

.color-button.active-color {
  border: none;
}
