:root {
  --color-slate-50: #f8fafc;
  --color-slate-100: #f1f5f9;
  --color-slate-400: #94a3b8;
  --color-slate-500: #64748b;
  --color-slate-900: #0f172a;
  --color-slate-900-alpha-10: hsla(222, 47%, 11%, 0.1);
  --color-slate-900-alpha-20: hsla(222, 47%, 11%, 0.2);
  --color-red-200: #fecaca;
  --color-green-200: #bbf7d0;
  --color-blue-200: #bfdbfe;
  --color-purple-200: #e9d5ff;

  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  color: var(--color-slate-900);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
  color: inherit;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
}
